nav{
    background-color: black !important;
    position: fixed;
    top: 0;
    width: 100%;
}


body{
    background-color: black !important;
    overflow-x: hidden;
}

footer{
    background-color: black;
}